{#
#}
<div class="sdr-tasks">
    {% if primary %}
        <h2 class="visually-hidden">{{ 'Primary tabs'|t }}</h2>
        <ul class="nav nav-tabs" role="tablist">{{ primary }}</ul>
    {% endif %}
    {% if secondary %}
        <h2 class="visually-hidden">{{ 'Secondary tabs'|t }}</h2>
        <ul>{{ secondary }}</ul>
    {% endif %}
</div>