/**
 * @file
 * The visual styles for sdr_btstrap search form(s).
 */
body {
    margin-top: 10px;
    background-color: #fff;
}
hr {
    height: 1px;
    background-color: #000;
}
.maintenance-page {
    background-color: #e3e3e3;
}
.bg-branding {
    padding: 30px 0px; text-shadow: 0px 1px 0px rgba(0,0,0,0.1);
    background-color: #e3e3e3;
}
.bg-branding h1 {
    font-size: 35px;
    margin-top: 35px;
}
.bg-branding p {
    font-size: 20px;
}
.bg-branding .logo {
    margin-top: 25px;
    margin-right:10px;
    margin-left:20px;
}
.bg-branding .slogan {
    margin-top:-15px;
}
.navbar-collapse {
    top: 1px;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
}
.sdr-tasks{
    padding-right: 6px;
    padding-left: 6px;
}
.sdr-tasks .nav-tabs {
    border-bottom: 0px;
}
.sdr-tasks .nav-tabs > li.active > a,
.sdr-tasks .nav-tabs > li.active > a:hover,
.sdr-tasks .nav-tabs > li.active > a:focus {
    background-color: #eee;
}
.panel-footer {
    text-align: center;
}
.panel-footer .sdr-fields{
    text-align: left; 
}
.panel-footer .sdr-field{
    text-align: center; 
}
.sdr-fields > hr{
    height: 1px;
    background-color: #e3e3e3;
}
.container-fluid > hr{
    height: 1px;
    background-color: #d3d3d3;
}
.displayblk > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}
.form-item input.error,
.form-item textarea.error,
.form-item select.error {
    border: 2px solid red;
}
blockquote {
    border-left: 5px solid #e3e3e3;
}
/*
---------------------------------------------------------------------------------------------------
*/
.view-content hr {
    height: 1px;
    background-color: #a3a3a3;
}
.view-content strong {
    font-weight: bold;
}
.view-content table ,
.view-content table td,
.view-content table tr
{
    background-color: #fff;
    border: 1px solid #ddd;
}
/*
---------------------------------------------------------------------------------------------------
*/
.inputhidden {
    visibility: hidden;
}
.sdr-img {
    width: 230px;
}
.sdr-img figcaption {
    margin-left: 3px;
    margin-right: 3px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-top-color: #fff;
    padding-left: 3px;
    padding-right: 3px;
    text-align: center;
}
.sdr-img .img-thumbnail {
    border-bottom-color: #fff;
}

.unpublish {
    color: #e09600;
}

/*
** Resizable text areas
*/
textarea
{
    width:100%;
}
.jumbotron .img-thumbnail {
    margin: 5px; 
}
.img-car{
    margin-bottom: 45px;
    float: left;
}
.logo{
    margin-top: 20px;
    height: 85px;
    width: 85px;
}
.contcar{
    margin-left: 110px;
}
.padleft {

}
.padleft a {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
    width: 100%;
    color: #555;
    text-decoration: none;
    /** padding-left: 40px;*/

}
.padleft a:hover{
    color: #555;
    text-decoration: none;
    background-color: #f5f5f5;
}
.princerub {
    margin-top:10px;
    text-align: center; 
}
.linknode {
    text-align:right;
}
.linknode-ar {
    text-align:left;
}
.linknode li {
    display:inline;
    margin-left: 3px;
}
.panel-cmt {
    height: 30px;
}
.st_radios {
    width: 10px;
}
.is-active > a,
.is-active > a:hover,
.is-active > a:focus {
    color: #761c19;
    text-decoration: none;
    cursor: not-allowed;
    background-color: transparent;
}
.shar-twitter {
    background-image:url(../icons/twitter.png);
    background-repeat:no-repeat;
    height: 23px;
    width: 23px;
    display: inline-block;
}
.shar-linkedin {
    background-image:url(../icons/linkedin.png);
    background-repeat:no-repeat;
    height: 23px;
    width: 23px;
    display: inline-block;
}
.shar-google {
    background-image:url(../icons/google_plus.png);
    background-repeat:no-repeat;
    height: 23px;
    width: 23px;
    display: inline-block;
}
.shar-facebook {
    background-image:url(../icons/facebook_share.png);
    background-repeat:no-repeat;
    height: 23px;
    width: 23px;
    display: inline-block;
}
.shar-email {
    background-image:url(../icons/email.png);
    background-repeat:no-repeat;
    height: 23px;
    width: 23px;
    display: inline-block;
}
.embed-responsive {
    background-image:url(../icons/inicio-video-300px.png);
    background-repeat:no-repeat;
    background-position: center; 
    background-size: cover;
}
/* Sidebar modules for boxing content */
.sidebar-module {
    padding: 15px;
    margin: 0 -15px 15px;
}
.sidebar-module-inset {
    padding: 15px;
    background-color: #f5f5f5;
    border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
    margin-bottom: 0;
}
.carousel-caption {
    bottom: 100px;
}
.btfeed {
    margin-bottom: 10px;
}
.footertitle {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);    
}
.arvotitle {
    right: 15%;
    z-index: 10;
    color: #000;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);    
}
.txtrouge {
    color: #A81817;
}

.leaderboard {
    width:"728px";
    height:"90px"; 
}
.leaderboard input {
    width:"728px";
    height:"90px"; 
}